# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

/backend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Default ignored files
frontend/.idea/shelf/
frontend/.idea/workspace.xml
backend/.idea/shelf/
backend/.idea/workspace.xml

# Editor-based HTTP Client requests
backend/.idea/httpRequests/