# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

/backend/node_modules

# testing
/frontend/coverage

# production
/frontend/build
/frontend/package-lock.json
/backend/package-lock.json

# misc
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local
/backend/.env

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*