$text: #A7BFE2FF;
$background: #212321;
$primary: #c81927;
$secondary: #235658;
$accent: #6399bb;
$linearPrimarySecondary: linear-gradient(120deg, #c81927, #235658);
$linearPrimaryAccent: linear-gradient(120deg, #c81927, #6399bb);
$linearSecondaryAccent: linear-gradient(120deg, #235658, #6399bb);
$radialPrimarySecondary: radial-gradient(#c81927, #235658);
$radialPrimaryAccent: radial-gradient(#c81927, #6399bb);
$radialSecondaryAccent: radial-gradient(#235658, #6399bb);

body {
  color: $text !important;
  background-color: $background !important;
}

nav {
  border-bottom: 2px solid #101c23 !important;
}

.navbar-brand, .navbar-text, .nav-link {
  color: $text !important;
}

h1, h4 {
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1 {
  line-height: 1.5 !important;
}

.navbar-brand svg {
  max-height: 1.5rem;
  margin-right: 0.5rem;
  fill: $text !important;
}

.navbar-collapse {
  margin-left: 1.5rem;
}

.nav-link {
  margin-left: 0.5rem;
}

.navbar-toggler {
  background-color: $accent !important;
}

.modal-backdrop {
  background-color: black;
  opacity: 0.7;
  position: fixed !important;
  height: 100%;
  width: 100% !important;
  z-index: 1 !important;
}

.modal-container {
  background-color: #161716FF !important;
  padding: 2rem;
  width: 50%;
  max-height: 100% !important;
  border-radius: 10px;
  z-index: 2 !important;
  overflow: hidden !important;
}

.modal-header svg {
  max-width: 0.9rem;
  fill: $accent !important;
  margin-left: auto !important;
  margin-top: -3rem;
  margin-right: -0.75rem;
}

.modal-header svg:hover {
  cursor: pointer;
}

.comment-section {
  max-height: 20rem !important;
  overflow-y: auto !important;
  margin-bottom: 0.75rem;
}

.card {
  width: 36% !important;
  color: $text !important;
  border: none !important;
  box-shadow: 4px 4px 15px 5px rgba(0,0,0,0.5) !important;
}

.card-header {
  background-color: #262826 !important;
}

.card-body, .card-footer {
  background-color: #272a27 !important;
}

.card-footer small {
  cursor: pointer;
  color: rgba(167, 191, 226, 0.71);
}

.card svg {
  max-height: 1.5rem;
  fill: $text !important;
  margin-right: 0.75rem;
  margin-top: 0.65rem;
}

.card svg:hover {
  cursor: pointer;
}

.center {
  display: block;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  position: fixed !important;
}

#likedHeart {
  fill: $primary !important;
}

button, input[type=button], input[type=submit] {
  font-weight: bold !important;
}

textarea {
  resize: none !important;
}

@import '~bootstrap/scss/bootstrap.scss';