$text: #a7bfe2;
$background: #071005;
$primary: #c81927;
$secondary: #235658;
$accent: #6399bb;
$linearPrimarySecondary: linear-gradient(120deg, #c81927, #235658);
$linearPrimaryAccent: linear-gradient(120deg, #c81927, #6399bb);
$linearSecondaryAccent: linear-gradient(120deg, #235658, #6399bb);
$radialPrimarySecondary: radial-gradient(#c81927, #235658);
$radialPrimaryAccent: radial-gradient(#c81927, #6399bb);
$radialSecondaryAccent: radial-gradient(#235658, #6399bb);

body {
  color: $text !important;
  background-color: $background !important;
}

nav {
  border-bottom: 4px solid #101c23 !important;
}

.navbar-brand, .navbar-text, .nav-link {
  color: $text !important;
}

h1 {
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 1.5 !important;
}

.navbar-brand svg {
  max-height: 1.5rem;
  margin-right: 0.5rem;
  fill: $text !important;
}

.navbar-collapse {
  margin-left: 1.5rem;
}

.nav-link {
  margin-left: 0.5rem;
}

.navbar-toggler {
  background-color: $accent !important;
}

.modal-container {
  background-color: red !important;
  padding: 2rem;
  margin: auto;
  width: 50%;
  border-radius: 10px;
}

#isVisible {
  display: block;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  position:absolute;
}

#isNotVisible {
  display: none;
}

@import '~bootstrap/scss/bootstrap.scss';